.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 27px;
    background-color: #fff;
    z-index: 1;
    position: sticky;
    top: 0;

}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 180px;
    
}

.nav-left .input{
    background: rgb(215, 230, 233);
    width: 280px;
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0px 20px 0px 10px;
}

.nav-left .input input[type='search']{
    width: 250px;
    border: none;
    outline: none;
    background: none;
}

.nav-left .input ::placeholder{
    background: none;
}

.nav-center{
    display: flex;
    align-items: center;  
    /* margin-left: -180px;   */
}

.home::after{
content: '';
width: 0;
height: 4px;
/* background: #045be6; */
background: #000000;
position: absolute;
bottom: 1px;
transition: width 0.3s;
border-radius: 10px;
}
    
.home:hover::after{
  width: 100%;
}

.home > .static::after{
    width: 100%;
}
    
    
    
.network::after{
    content: '';
    width: 0;
    height: 4px;
    background: #000000;
    position: absolute;
    bottom: -2px;
    transition: width 0.6s;
    border-radius: 10px;
}
    
.network:hover::after{
    width: 50px;
}
    
.jobs::after{
    content: '';
    width: 0;
    height: 4px;
    background: #000000;
    position: absolute;
    bottom: -2px;
    transition: width 0.3s;
    border-radius: 10px;
}
    
.jobs:hover::after{
    width: 30px;
}
    
.message::after{
    content: '';
    width: 0;
    height: 4px;
    background: #000000;
    position: absolute;
    bottom: -2px;
    transition:  width 0.3s;
    border-radius: 10px;
}
    
.message:hover::after{
    width: 55px;
}
    
.notification::after{
    content: '';
    width: 0;
    height: 4px;
    background: #000000;
    position: absolute;
    bottom: -2px;
    transition: width 0.3s;
    border-radius: 10px;  
   }
    
.notification:hover::after{
    width: 65px;
}
    
.work::after{
    content: '';
    width: 0;
    height: 4px;
    background: #000000;
    position: absolute;
    bottom: -1px;
    transition:  width 0.3s;
    border-radius: 10px;
}
    
.work:hover::after{
    width: 35px;
}


.home h6{
    font-size: 13.5px;
    font-weight: 500;
    color: #00000099;
}
.network h6{
    font-size: 13.5px;
    font-weight: 500;
    color: #00000099;
}
.jobs h6{
    font-size: 13.5px;
    font-weight: 500;
    color: #00000099;
}
.message h6{
    font-size: 13.5px;
    font-weight: 500;
    color: #00000099;
}
.notification h6{
    font-size: 13.5px;
    font-weight: 500;
    color: #00000099;
}
.work h6{
    margin-left: 10px;
    font-size: 13.5px;
    font-weight: 500;
    color: #00000099;
}

.pic img{
    width: 24px;
    /* margin-right: 110px; */
    border-radius: 50%;
    height: 24px;
    margin-left: 10px;
    /* display:inline-block; */
    cursor: pointer;
    position: relative;
}

.pic{
    position: relative;
    min-width: 80px;
    min-height: 52px;
    margin-top: 6px;
}
.pic::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #43d725;
    position: absolute;
    margin-right: 42px;
}

.link{
    color: #915907;
    margin-right: 157px;
}


/* ----------- body css  -----------*/

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 6%;  
        
    
}


/* ----------- Left sidebar  -----------*/
.left-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
    padding-left: 180px;
  
}

.sidebar-profile-box{
    border-radius: 15px;
    background-color: #fff;
}
.sidebar-profile-box img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.sidebar-profile-info{
    padding: 13.5px 13.5px 18px;
    border-bottom: 1px solid #ccc ;
    padding-bottom: 10px;    
}
.sidebar-profile-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top: -40px;
    margin-left: 55px;
}
.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600;
    color: #000000E6;
    text-align: center;
}
.sidebar-profile-info h3{
    font-size: 13.5px;
    font-weight: 500;
    color: #777;
    text-align: center;
}
.profile-info{
    border-bottom: 1px solid #ccc;
    padding: 4.5px 13.5px ;
}


.profile-info h6{
    font-weight: 400;
    color: #00000099;
}
.profile-info h5{
    padding-top: 4px;
    color: #000000E6;
}
.profile-info h4{
    font-weight: 100;
    padding-top: 10px;
}
.profile-info span{
    float: right;
    font-size: 13.5px;
    font-weight: 600;
    color: blue;
}
.access{
    border-bottom: 1px solid #ccc;
    padding: 13.5px ;
    font-size: 13.5px;
    color: #00000099;
}
.access p{
   
    color: gray;   
    cursor: pointer;
}
.access span{
    color: #000000E6;
    text-decoration: underline;
    font-size: 13.5px;
    font-weight: 600;
    cursor: pointer;
}
.item{
    padding: 12px ;
}

 .item i{
    margin-left: 10px;
    cursor: pointer;
}
.premium span{
    font-size: 13.5px;
    margin-left: 6px;
    cursor: pointer;
}

.sidebar-activity{
    padding: 5px 25px;
    margin: 15px 0;
    border-radius: 15px;
    background-color: #fff;
}
.sidebar-activity img{
    width: 20px;
    margin-right: 10px;
}
.sidebar-activity h3{
    color: rgb(8, 8, 8);
    font-size: 14px;
    font-weight: 500;
    font-size: 13.5px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #ccc;
}

.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 13.5px;
    font-weight: 500;
    color: rgb(6, 0, 0);
    margin: 3px 0;
    transition: 0.3s ease-in-out;
}

.discover-more-link{
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
}
.discover-more-link a{
    color: #045be6;
    display: inline-block;
    margin: 6px 0;
    margin-right: 20px;
    font-size: 13.5px; 
}

.sidebar-activity a:hover{
    text-decoration: underline;
    font-size: 13.5px;
    color: #045be6;
}

.sidebar-activity img:hover{
    width: 13.4px;
}




/* Right Sidebar */
.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 70px;
    border-radius: 15px;
    padding: 10px;
    margin-top: -10px;
}
.sidebar-news{
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 15px;
}
.sidebar-news h3{
    border-bottom: 1px solid #ccc;
    padding: 8px 5px;
}
.sidebar-news span{
    margin-left: 33px;
    font-size: 13.5px;
   
}
.sidebar-news a{
    margin: 4px 0px 0px;
    padding: 0px 16px 0px 0px;
    font-size: 13.5px;
    color: #000000E6;
    font-weight: 600;
}

.more{
    text-align: center;
    padding: 7px 5px ;
    border-top: 1px solid #ccc;
}
.more i{
    margin-left: 10px;
}
.most-viewed-news{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px 5px;
}
.most-viewed-news h5{
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
}
.news2{
    padding: 10px 5px;
}
.news2 span{
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}
.news2 p{
    font-size: 12px;
    margin-left: 36px;
}

.feed{
    background-color: #fff;
    margin-top: 16px;
    padding: 10px 5px;
    border-radius: 15px;
}
.feed h4{
    border-bottom: 1px solid #ccc;
    padding: 6px ;
}
.company{
    padding: 10px 5px;
    display: flex;
    border-bottom: 1px solid #ccc;
}
.company img{
    width: 35px;
    height: 35px;
    margin-top: 6px;
}
.company-info{
    padding-left: 10px;
}
.company-info h3{
    font-size: 19px;
    font-weight: 600;
}
.company-info h6{
    font-size: 12px;
    color: gray;
}
.company-info button{
    padding: 6px 10px;
    width: 100px;
    border-radius: 30px;
    outline: none;
    margin-top: 3px;
}

.ad-link{
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 30px;
    padding: 5px 15px;
    color: #045be6;
    font-weight: 600;
    margin: 20px auto 10px;
}
.sidebar-useful-links{
    padding: 15px 25px;
    text-align: center;

}
.sidebar-useful-links a{
    display: inline-block;
    font-size: 13.5px;
    margin: 7px 4px;
    color: #00000099;
}

.sidebar-useful-links a:hover{
    color: #045be6;
    text-decoration: underline;
}

.copyright-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}
   
.copyright-msg img{
    width: 18px;
    margin-right: 4px;
}




/* Main  Content */
.main-content{
    flex-basis: 44%;
}
.create-post{
    background: #fff;
    border-radius: 10px;
}
.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.create-post-input textarea{
    width: 100%;
    resize: none;
    outline: 0;
    border: 0;
   font-size: 15.75px;
    background: transparent;
    outline: 1px solid #777;
    border-radius: 30px;
    color: #000000;
    cursor: pointer;
}
.create-post-links{
    display: flex;   
}
.create-post-input img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.create-post-links img{
    width: 25px;
}
.create-post-links li{
    list-style: none;
}

::placeholder{
    font-weight: 500;
    padding: 16px;
    background-color: #fff;
   
}

.create-post-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 30px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6px;
    margin-left: 4px;
    cursor: pointer;
}
.links img{
    margin-left: 15px;
    
}

.links span{
    font-size: 15.75px;
    margin-left: 10px;
}


.links:hover{
    background-color: rgb(222, 211, 211);
    border-radius: 20px;
   
     
}


.sort-by{
    display: flex;
    align-items: center;
    margin: 10px 0;

}

.sort-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}

.sort-by p{
    font-size: 13px;
    padding-left: 5px;
}

.sort-by span{
    font-weight: 600;
    cursor: pointer;
}

.sort-by i{
    margin-left: 4px;
}

.post{
    background: #fff;
    padding: 20px 25px 5px;
    margin: 5px 0 15px;
    margin-top: 20px;
    border-radius: 10px;
}

.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}
.post-author h1{
    font-size: 15.75px;    
    font-weight: 600;
    color: rgb(14, 1, 1);

}

.post-author span{
    display: block;
    margin-bottom: -2px;
    font-size: 13.5px;
}
.post p{
    font-size: 14px;
    margin-bottom: 15px;
}

.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.post-stats div{
    display: flex;
    align-items: center;
}
.post-stats img{
    width: 15px;
    margin-right: -5px;
}
.liked-users{
    margin-left: 10px;
}

.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.post-activity div{
    display: flex;
    align-items: center;
}
.post-activity-user-icon{
    width: 22px;
    border-radius: 50%;

}
.post-activity-arrow-icon{
    width: 12px;
    margin-left: 5px;
}
.post-activity-link img{
    width: 18px;
    margin-right: 8px;
}

.liked{
    margin-left: 10px;
}

.post P{
    margin-left: 10px;
    text-indent: 10px;
}